body, h1,, h2, h3, p, ul, li, nav {
    margin: 20;
    padding: 20;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #B0BF91;
    color: #fff; /* White text color */
    margin: 60px; /* Approximately 2 inches margin on all sides */  
}


img {
    max-width: 500px;
    height: auto;
}

.flex-container {
    display: flex;
    align-items: center;
}

.flex-container img {
    max-width: 500px; /* Adjust the image width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 20px;
    border: 5px solid #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.2)
}

.flex-container p {
    font-size: 25px; /* Adjust the font size for the paragraph */
    margin: 0;
}

.header {
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: "jumble", sans-serif;
    font-size: 90px;
    font-weight: 400;
    font-style: normal;  
}

nav {
    background-color: #252601;/* Background color for the navigation */
    padding: 30px; /* Add padding to create space around the navigation */
    border-radius: 20px;
}


nav ul {
    list-style: none; 
    padding: 0; 
    margin: 0; 
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}


nav li {
    display: inline;
    margin-right: 20px;
    text-decoration: none;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: #B0BF91;
}

