* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body, h1,, h2, h3, p, ul, li, nav {
    margin: 20;
    padding: 20;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #B0BF91;
    color: #fff; /* White text color */
    margin: 60px; 
}

h1 {
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: "jumble", sans-serif;
    font-weight: 400;
    font-style: normal; 
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 60px;
    text-align: center;
    font-weight: 400;
    color: #fff;
}

.header {
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: "jumble", sans-serif;
    font-size: 90px;
    font-weight: 400;
    font-style: normal; 
}

nav {
    background-color: #252601; /* Background color for the navigation */
    padding: 30px; /* Add padding to create space around the navigation */
    border-radius: 20px;
}

/* Style the navigation list (<ul>) */
nav ul {
    list-style: none; /* Remove the default list style */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}

/* Style the navigation items (<li>) */
nav li {
    display: inline;/* Display list items horizontally */
    margin-right: 20px;
    text-decoration: none;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: #B0BF91;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.flex-item {
    text-align: center;
    flex: 0 1 calc(50% - 20px);
}

.flex-item img {
    max-width: 100%;
}
/*.flex-container {
    display: grid; 
    height: 100vh; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 0.3fr 1.5fr 1.5fr 0.9fr; 
} 

.container1 {
    grid-area: content1; 
    border-radius: 5px;
    margin-bottom: 50px;
}
.container2 {
    grid-area: content2; 
    border-radius: 5px;
    margin-bottom: 50px;
}
.container3 {
    grid-area: content3; 
    border-radius: 5px;
    margin-bottom: 50px;
}
.container4 {
    grid-area: content4;
    border-radius: 5px;
    margin-bottom: 50px;
} */


    /*display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    margin: 20;
    padding: 20;
    align-items: center; 



.container1 {
    align-items: left;
    float: left;
    margin-right: 10px;
}

.container1 img {
    max-width: 500px;
    height: auto;
}

.container2 {
    align-items: left;
    float: left;
    margin-right: 10px;
}

.container2 img {
    max-width: 500px;
    height: auto;
}

.container3 {
    align-items: left;
    float: left;
    margin-right: 10px;
}

.container3 img {
    max-width: 500px;
    height: auto;
}

.container4 {
    align-items: left;
    float: left;
    margin-right: 10px;
}

.container4 img {
    max-width: 500px;
    height: auto;
}

/* .flex-container img {
    max-width: 500px; 
    height: auto; 
    margin-right: 20px;
}

.flex-container p {
    font-size: 25px; /* Adjust the font size for the paragraph 
    margin: 0;
} */
